body {
	background-color: black;
}

.mainwindow {
	position: fixed;
	width: 100%;
	line-height: 2vw;
	text-align: center;
	font-family: Sans-Serif;
	color: yellow;
}

.label {
	font-size: 5vw;
}
.clock {
	font-size: 10vw;
}

#sidebar {
	position: relative;
	float: left;
	width: 250px;
	height: 96vh;
	margin-top: 1vh;
	background-color: #080808;
	margin-left: -300px;
	z-index: 1;
}

.button {
	background-color: #202020;
	border-radius: 3px;
	color: #808080;
	padding: 5px 15px 5px 15px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	
	/* only needed for <a>, but shouldn't hurt anything else */
	display: block;
}

.button:hover {
	background-color: #323232;
}

#settings_button {
	position: relative;
	float: right;
	width: 50px;
	height: 50px;
	margin-top: 10px;
	background-color: black;
	border: 0px;
	z-index: 1;
}
