<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="static/stylesheet.css"/>
		<script type="text/javascript" src="static/script.js"></script>
		<meta Content-Type="text/html", charset="utf-8"/>
		<title>{{ title }}</title>
	</head>
	<body onload="change_mission('{{ mission.label }}','{{ mission.launch_date }}')">
		<button id="settings_button" onclick="show_menu()">
			<img src="static/settings.svg" width=100% height=100%>
		</button>
		<div id="sidebar">
			{% for mission in missions %}
			<a href={{ mission.url }}><div class="button">{{ mission.label }}</div></a>
			{% endfor %}
		</div>
		<div class="mainwindow" onclick="hide_menu()">
			<p class="label", id="label1">{{ clock_label }}</p>
			<p class="clock", id="clock1">000:00:00:00</p>
		</div>
	</body>
</html>
